# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# Django
db.sqlite3
*.log
media/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Database
db.sqlite3

# Media uploads
media/
